.inputTagCSS {
    height: 3rem;
    width: 26rem;
    padding: 3px 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid black;
    box-shadow: none;
    outline: none;
    transition: border-color 0.3s ease;
}

.inputTagCSS:focus {
    border-color: none;
}

body{
background-image: url(/public/noaa-IaRgDQiF36Q-unsplash.jpg);
background-repeat:no-repeat;
background-size: cover;
background-position: center;
height: 100vh;
}